<nav>
  <ul class="tabs">
    <li class="tabs__tab active">All</li>
    <li class="tabs__tab">Taxes & Efficiency</li>
    <li class="tabs__tab">Investment banking</li>
    <li class="tabs__tab">Financial Plan</li>
    <li class="tabs__tab">Audit & Evaluation</li>

    <div class="tabs__menu--mobile" id="tabsMenuToggle">
      <img src="/assets/burger-menu.svg" alt="menu" />
    </div>
  </ul>

  <ul class="tabs__dropdown" id="tabsDropdown">
    <li class="tabs__dropdown--item">All</li>
    <li class="tabs__dropdown--item">Taxes & Efficiency</li>
    <li class="tabs__dropdown--item">Investment banking</li>
    <li class="tabs__dropdown--item">Financial Plan</li>
    <li class="tabs__dropdown--item">Audit & Evaluation</li>
  </ul>
</nav>
