<div class="service-cards--desktop">
  <div class="service-card">
    <img src="./assets/images/card1.png" alt="card" class="service-card__image" />
    <div class="service-card__icon">
      <img src="./assets/icons/plus.svg" alt="plus" />
    </div>
    <div class="service-card__text">
      <p class="service-card__title">Taxes & Efficiency</p>
      <p class="service-card__category">Business</p>
    </div>
  </div>

  <div class="service-card">
    <img src="./assets/images/card2.png" alt="card" class="service-card__image" />
    <div class="service-card__icon">
      <img src="./assets/icons/plus.svg" alt="plus" />
    </div>
    <div class="service-card__text">
      <p class="service-card__title">Investment banking</p>
      <p class="service-card__category">Business</p>
    </div>
  </div>

  <div class="service-card">
    <img src="./assets/images/card3.png" alt="card" class="service-card__image" />
    <div class="service-card__icon">
      <img src="./assets/icons/plus.svg" alt="plus" />
    </div>
    <div class="service-card__text">
      <p class="service-card__title">Financial Plan</p>
      <p class="service-card__category">Business</p>
    </div>
  </div>

  <div class="service-card">
    <img src="./assets/images/card4.png" alt="card" class="service-card__image" />
    <div class="service-card__icon">
      <img src="./assets/icons/plus.svg" alt="plus" />
    </div>
    <div class="service-card__text">
      <p class="service-card__title">Audit & Evaluation</p>
      <p class="service-card__category">Business</p>
    </div>
  </div>

  <div class="service-card">
    <img src="./assets/images/card5.png" alt="card" class="service-card__image" />
    <div class="service-card__icon">
      <img src="./assets/icons/plus.svg" alt="plus" />
    </div>
    <div class="service-card__text">
      <p class="service-card__title">Taxes & Efficiency</p>
      <p class="service-card__category">Business</p>
    </div>
  </div>

  <div class="service-card">
    <img src="./assets/images/card6.png" alt="card" class="service-card__image" />
    <div class="service-card__icon">
      <img src="./assets/icons/plus.svg" alt="plus" />
    </div>
    <div class="service-card__text">
      <p class="service-card__title">Investment banking</p>
      <p class="service-card__category">Business</p>
    </div>
  </div>
</div>

<swiper-container class="mySwiper service-cards service-cards--mobile" space-between="16" grab-cursor="true">
  <swiper-slide>
    <div class="service-card">
      <img src="./assets/images/card1.png" alt="card" class="service-card__image" />
      <div class="service-card__icon">
        <img src="./assets/icons/plus.svg" alt="plus" />
      </div>
      <div class="service-card__text">
        <p class="service-card__title">Taxes & Efficiency</p>
        <p class="service-card__category">Business</p>
      </div>
    </div>
  </swiper-slide>

  <swiper-slide>
    <div class="service-card">
      <img src="./assets/images/card2.png" alt="card" class="service-card__image" />
      <div class="service-card__icon">
        <img src="./assets/icons/plus.svg" alt="plus" />
      </div>
      <div class="service-card__text">
        <p class="service-card__title">Investment banking</p>
        <p class="service-card__category">Business</p>
      </div>
    </div>
  </swiper-slide>

  <swiper-slide>
    <div class="service-card">
      <img src="./assets/images/card3.png" alt="card" class="service-card__image" />
      <div class="service-card__icon">
        <img src="./assets/icons/plus.svg" alt="plus" />
      </div>
      <div class="service-card__text">
        <p class="service-card__title">Financial Plan</p>
        <p class="service-card__category">Business</p>
      </div>
    </div>
  </swiper-slide>

  <swiper-slide>
    <div class="service-card">
      <img src="./assets/images/card4.png" alt="card" class="service-card__image" />
      <div class="service-card__icon">
        <img src="./assets/icons/plus.svg" alt="plus" />
      </div>
      <div class="service-card__text">
        <p class="service-card__title">Audit & Evaluation</p>
        <p class="service-card__category">Business</p>
      </div>
    </div>
  </swiper-slide>

  <swiper-slide>
    <div class="service-card">
      <img src="./assets/images/card5.png" alt="card" class="service-card__image" />
      <div class="service-card__icon">
        <img src="./assets/icons/plus.svg" alt="plus" />
      </div>
      <div class="service-card__text">
        <p class="service-card__title">Taxes & Efficiency</p>
        <p class="service-card__category">Business</p>
      </div>
    </div>
  </swiper-slide>

  <swiper-slide>
    <div class="service-card">
      <img src="./assets/images/card6.png" alt="card" class="service-card__image" />
      <div class="service-card__icon">
        <img src="./assets/icons/plus.svg" alt="plus" />
      </div>
      <div class="service-card__text">
        <p class="service-card__title">Investment banking</p>
        <p class="service-card__category">Business</p>
      </div>
    </div>
  </swiper-slide>
</swiper-container>
