.contacts {
  max-width: 407px;
  width: 100%;

  @media (max-width: 800px) {
    max-width: 100%;
  }

  &__process {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-accent);
    width: 127px;
    height: 26px;
    border-radius: 20px;
    margin-bottom: 6px;
  }

  &__title {
    font-size: clamp(24px, 6vw, 45px);
    margin-bottom: 13px;
    font-weight: 700;
    text-align: start;
    font-family: var(--font-secondary);
  }

  &__description {
    color: var(--color-gray);
    font-size: clamp(14px, 4vw, 16px);
  }

  &__info-list {
    display: flex;
    flex-direction: column;
    gap: 56px;
    margin-top: 36px;

    @media (max-width: 800px) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 32px;
    }
  }

  &__info-item {
    display: flex;
    gap: 16px;
    align-items: center;
    max-width: 330px;
    width: 100%;
  }

  &__icon {
    display: block;
  }

  &__info-content {
    display: flex;
    flex-direction: column;
  }

  &__info-label {
    color: var(--color-gray);
    margin: 0;
  }

  &__info-link {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    font-family: var(--font-secondary);
  }

  &__info-text {
    font-size: 20px;
    font-weight: 600;
    color: inherit;
    font-family: var(--font-secondary);
  }
}
